<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositorypath" value="packages" />
	</config>
	<packageSources>
		<!-- Don't use any sources set by the system-->
		<clear />
		<!-- https://devdiv.visualstudio.com/DevDiv/_artifacts/feed/Xamarin.UITooling -->
		<add key="Xamarin.UITooling" value="https://pkgs.dev.azure.com/devdiv/DevDiv/_packaging/Xamarin.UITooling/nuget/v3/index.json" />
	</packageSources>
</configuration>
