<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="touchdown" value="https://msblox.pkgs.visualstudio.com/_packaging/TouchdownBuildPackages/nuget/v2" />
	</packageSources>
	<packageSourceCredentials>
		<touchdown>
			<add key="Username" value="xamarinc" />
			<add key="ClearTextPassword" value="2jqj363qn7zilvbszcnnvyj7qrrur4u4flj33yi3esadkpbmpuxq" />
		</touchdown>
	</packageSourceCredentials>
</configuration>
